.addbtn{
  height: 40px;
  cursor: pointer;
  font-size: 22px;
  border: 0px;
  background-color: darkblue;
  color: white;
  border-radius: 8px;
  width: 10vw;
  margin: 18px;
  outline: none;
}

.btn-container{
  display: flex;
  /* align-content: left;
  justify-content: left; */
  justify-content: space-between;
}

.left-btn{
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

.right-btn{
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.logoutbtn{
  height: 40px;
  cursor: pointer;
  font-size: 22px;
  border: 0px;
  background-color: darkblue;
  color: white;
  border-radius: 8px;
  width: 10vw;
  margin: 18px;
  outline: none;
}

.sap{
  color: orange;
  text-shadow: 2px 2px 2px rgb(30, 85, 119);
}

.styled-table{
  border-collapse: collapse;
  margin: 25px 0 #009879;
  font-size: 15x;
  font-family: sans-serif;
  min-height: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  height: 100%;
  width: 100%;
}

.styled-table thead tr {
  background-color: #000000;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    text-align: center;
    padding: 12px 15px;
}

.styled-table tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

h2{
  text-align: center;
}

.report{
  margin-top: 5px;
  cursor: pointer;
  font-size: 15px;
  background: #277c4f;
  border: 1px solid #277c4f;
  color: black;
  padding: 8px  ;
  border-radius: 50%;
  /* width: 2vw; */
  text-align: center;
  align-items: center;
}

.report1{
  margin-top: 5px;
  cursor: pointer;
  font-size: 15px;
  background: rgb(221, 44, 44);
  border: 1px solid rgb(221, 44, 44);
  color: black;
  padding: 8px  ;
  border-radius: 50%;
  /* width: 2vw; */
  text-align: center;
  align-items: center;
}


tr:nth-child(even) {
  background-color: rgb(219, 207, 207);
}

.button-container1{
  display: flex;
  align-content: center;
  justify-content: center;
}

/* Button 1 CSS */

.button1{
  height: 2.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  border: none;
  background-color: rgb(49, 49, 197);
  color: white;
  border-radius: 10px;
  width: 22vw;
  margin: 13px;
  outline: none;
}

.button1:hover{
  background: black;
}

.button1:active{
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem  rgba(255, 255, 255, 0.70);
}

/* Button 2 CSS */

.button2{
  height: 2.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  border: none;
  background-color: rgb(49, 49, 197);
  color: white;
  border-radius: 10px;
  width: 22vw;
  margin: 13px;
  outline: none;
}

.button2:hover{
  background: black;
}

.button2:active{
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem  rgba(255, 255, 255, 0.70);
}

 
@media only screen and (max-width: 600px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
	.styled-table {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
	}
}